# User lists
*.csv
!access.csv.example

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
/config.json
.env
.env.*
!.env.example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test