# Cached CSVs and config
data/*
!data/config.json.example

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build/

# OS
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.*
!.env.example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*