{
    "mqtt": {
        "server": "host",
        "port": 1883
    },
    "doors": [
        {
            "hostname": "whatever name",
            "topic": "mqtt topic",
            "ip": "host",
            "user": "admin",
            "pass": "admin pass",
            "userList": "whatever.csv"
        }
    ]
}
