{
    "helloClub": {
        "apiKey": "hc_api_key"
    },
    "homeAssistant": {
        "hostname": "https://example.com",
        "apiKey": ""
    },
    "mqtt": {
        "server": "host",
        "username": "",
        "password": "",
        "port": 1883
    },
    "doors": [
        {
            "name": "Nickname for UI",
            "hostname": "whatever name",
            "topic": "mqtt topic",
            "script": "restart_a_side_keypad",
            "ip": "host",
            "user": "admin",
            "pass": "admin pass",
            "userList": "whatever.csv"
        }
    ],
    "auth": {
        "secret": "openssl rand -base64 32"
    }
}
